$helper-color: grey;

$border-color: lightgrey;

$font-family: 'Open Sans', sans-serif;

$primary-color: #404c5b;

$font-color: $primary-color;

$error-color: red;

$error-light-color: rgb(218, 88, 88);

$secondary-color: #007bff;
